body{
    background-color: #eaeaea;
    margin: 0em;
}
#container{
    background-color: white;
    width: 80%;
    margin: -0.4em 7em 0em 7em;
    height: 1060px;
}
#left{
    float: left;
    width: 42%;
}
#image{
    width: 140px;
}
#span{
    font-size: 40px;
    font-weight: bold;
    color: #00abe5;
}
#span_1{
    margin-left: 1.8em;
    font-size: 18px;
}
#right{
    float: right;
}
ul{
    list-style-type: none;
}
li{
    display: inline;
}
li>a{
    text-decoration: none;
    color: #00abe5;
}
li>a:hover{
    text-decoration: underline;
    color: #cc6600;
}
#div_1{
    padding-top: 8em;
}
.unlist{
    list-style-type: none;
    background-color: #005a8c;
}
.list{
    display: inline;
    font-size: 22px;
    text-align: center;
    padding: 3px 6.8px 3px 9px;
    border: 2px solid #005a8c;
}
.list>a{
    text-decoration: none;
    color: white;
}
.list>a:hover{
    text-decoration: underline;
    color: white;
}
.anchor{
    text-decoration: none;
    color: #00abe5;
}
.anchor:hover{
    text-decoration: underline;
    color: #cc6600;
}
#left_2{
    float: left;
    width: 34%;
    margin: 2.5em 0em 0em 1em;
}
#span_3{
    background-color: rgb(192,192,192);
    font-size: 22px;
    text-align: center;
    font-family: sans-serif;
    padding: 0px 107px 0px 107px;
    border: 1px solid rgb(128,128,128);
}
#form{
    border: 1px solid rgb(128,128,128);
    margin-top: -0.2em;
    padding: 10px 0px 20px 10px;
    background-color: #eae8e8;
    width: 310px;
    margin-bottom: 2em;
}
.label>input{
    margin: 0.9em 0em 0.9em 0em;
    width: 140px;
}
#input{
    margin-left: 1.7em;
}
.label_1>input{
    margin-bottom: 0.9em;
    width: 140px;
}
#button{
    margin-top: 0.8em;
}

#span_4{
    background-color: rgb(192,192,192);
    font-size: 22px;
    text-align: center;
    font-family: sans-serif;
    padding: 0px 84px 0px 84px;
    border: 1px solid rgb(128,128,128);
}
#form_1{
    border: 1px solid rgb(128,128,128);
    margin-top: -0.2em;
    padding: 10px 0px 20px 10px;
    background-color: #eae8e8;
    width: 310px;
}
.label_2>input{
    margin: 0.9em 0em 0.9em 4.4em;
    width: 140px;
}
.input_1{
    margin-left: 0em;
}
.label_3>input{
    margin: 0em 1em 0.9em 6.4em;
    width: 140px;
}
.label_4>input{
    margin: 0.9em 0em 0.9em 4.7em;
    width: 140px;
}
.input_1{
    margin-left: 0em;
}
.label_5>input{
    margin: 0em 0em 0.9em 0.3em;
    width: 140px;
}
#button_1{
    margin-top: 0.8em;
}
#right_2{
    float: right;
    width: 61%;
    text-align: justify;
    padding-right: 1.2em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#paragraph{
    font-size: 23px;
    font-family: sans-serif;
    font-weight: bold;
    margin-top: 2em;
}
#div_2{
    margin: 47.5em 1em 0em 1em;
    background-color: #eae8e8;
    height: 68px;
    border: 1px solid rgb(128,128,128);
}
.image_2{
    padding: 0em 1em 0em 0.3em;
}
#left_3{
    float: left;
    margin: 1.5em 0em 0em 1em;
}
#right_3{
    float: right;
    margin: 1.5em 1em 0em 0em;
}
.unlist_1{
    list-style-type: none;
}
.list_1{
    display: block;
}